@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
}


body {
    font-family: 'Inter', system-ui;
    font-weight: 400;
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
}
