---
export const prerender = false;
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import {Image} from "astro:assets";
import extra from '../images/img.png';
import game from '../images/img2.png';
import PetCard from "../components/PetCard.astro";

const title = "Projects";
const projects = [
  {
    title: "My website",
    is_finished: true,
    url: 'https://github.com/nikitaosi/myws',
    description: "This one where you at now.",
    technologies: [{name: 'AstroJS', color: 'bg-orange-600'}, {name: 'Tailwind', color: 'bg-sky-400'}],
  },
  {
    title: "Expense tracker",
    is_finished: false,
    url: 'https://github.com/nikitaosi/extra',
    description: "Simple expense tracker for personal use.",
    technologies: [{name: 'NextJS', color: 'bg-gray-900'}, {
      name: 'TypeScript',
      color: 'bg-blue-900'
    }, {name: 'Effector', color: 'bg-orange-700'}, {name: 'Tailwind', color: 'bg-sky-400'},],
  },
  {
    title: "ChatGPT Wrapper",
    is_finished: false,
    url: 'https://github.com/nikitaosi/chatgpt-wrapper',
    description: 'Frontend wrapper for chatGPT API.',
    technologies: [{name: 'NextJS', color: 'bg-gray-900'}, {
      name: 'Adobe Spectrum',
      color: 'bg-blue-600'
    }, {name: 'Tailwind', color: 'bg-sky-400'}],
  }
];
---

<BaseLayout title={title}>
  <section class="flex flex-col items-center justify-center py-14 text-left">
    <h2 class="text-2xl font-semibold self-start">{title}</h2>
    <div class="grid grid-cols-1 gap-8 mt-10 w-full">
      {projects.map((project) =>
          <PetCard content={project}/>
      )}
    </div>
  </section>
</BaseLayout>
