---
import Social from './Social.astro';
---


<section class="flex flex-col justify-between mt-10 mb-16 opacity-80 w-full sm:flex-row">
    <Social platform="telegram" href="https://t.me/osi_nv"/>
    <Social platform="github" href="https://github.com/nikitaosi"/>
    <Social platform="linkedin" href="https://www.linkedin.com/in/nikita-osipov-84a009152/"/>
    <Social platform="nikitaosipov.51@gmail.com" isEmail href="mailto:nikitaosipov.51@gmail.com" />
</section>
