---
import ThemeToggle from "./ThemeToggle.astro";
import Navigation from "./Navigation.astro";

---
<header class="relative">
    <nav class="flex flex-row relative">
        <Navigation />
        <ThemeToggle />
    </nav>
</header>
