---
import ThemeSlider from "./ThemeSlider.astro";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";

---
<header class="flex justify-end">
    <nav>
    <ThemeSlider id="theme-toggle" />
    </nav>
</header>

<script src="/lib/theme-util.js" type="text/javascript" is:inline></script>
