---
import ThemeSlider from "./ThemeSlider.astro";
import Navigation from "./Navigation.astro";

---
<header class="relative">
    <nav class="flex flex-row justify-between">
        <Navigation />
        <ThemeSlider />
    </nav>
</header>
