---
const pathname = Astro.url.pathname;
import { Image } from 'astro:assets';
import docIcon from '../../public/icons/document.png';

---

<div class="nav-links flex gap-4 opacity-80">
    <a class={pathname === "/" ? "underline underline-offset-4" : ""} href="/">about</a>
    <a class={pathname === "/work/" ? "underline underline-offset-4" : ""} href="/work/">work</a>
    <a class={pathname === "/projects/" ? "underline underline-offset-4" : ""} href="/projects/">projects</a>
    <a href="/resume.pdf" class="relative" target="_blank">resume
        <Image class="absolute top-[1px] right-[-22px]" src={docIcon} width="19"  alt="Icon of page"/>
    </a>
</div>
