---
const {color, name} = Astro.props.item;
import {Image} from 'astro:assets';
---

<div class={`rounded px-4 py-1 m-2 ${color} w-fit `}>
  <p class="text-sm text-white text-nowrap">{name}</p>
</div>
