---
import {Icon} from "astro-icon";

---

<div class="inline-flex items-center">
    <label for="themeSwitch"><select class="outline-none dark:bg-[#121212] bg-white" name="themeSwitch" id="themeSwitch">
        <option value="system">🌒</option>
        <option value="dark">🌛</option>
        <option value="light">🌞</option>
    </select></label>
</div>

<script src="/src/lib/theme-util.ts" />

<style>
    :global(.dark) {
        color-scheme: dark;
    }
</style>

